LOGURU_LEVEL="TRACE"
DB_FILE="C:/path/to/test_db.sqlite"

USER_PREFERENCES__DEFAULT_CINEMA_VENUE="Wrocław - Wroclavia"
USER_PREFERENCES__DEFAULT_DAY="today"
USER_PREFERENCES__TMDB_ACCESS_TOKEN="1234"

CINEMA_CITY_SETTINGS__REPERTOIRE_URL="https://www.cinema-city.pl/#/buy-tickets-by-cinema?in-cinema={cinema_venue_id}&at={repertoire_date}"
CINEMA_CITY_SETTINGS__VENUES_LIST_URL="https://www.cinema-city.pl/#/buy-tickets-by-cinema"
