interactions:
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://api.themoviedb.org/3/search/movie?query=Furiosa:+Saga+Mad+Max&include_adult=True&language=pl-PL&year=2024,2023&page=1
    response:
      body:
        string:
          "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/raph7qjAGTMXaIjVxt6ZDSXRzUr.jpg\",\"genre_ids\":[28,12,878],\"id\":786892,\"original_language\":\"en\",\"original_title\":\"Furiosa:
          A Mad Max Saga\",\"overview\":\"Kiedy \u015Bwiat upada, m\u0142oda Furiosa
          zostaje uprowadzona z Zielonego Miejsca Wielu Matek. Wpada w r\u0119ce pot\u0119\u017Cnej
          Hordy Biker\xF3w, kt\xF3rej przewodzi wata\u017Cka Dementus. Po przebyciu
          Pustkowi porywacze docieraj\u0105 do Cytadeli, gdzie rz\u0105dzi Wieczny Joe.
          Dw\xF3ch tyran\xF3w zaczyna walk\u0119 o w\u0142adz\u0119, Furiosa za\u015B
          musi przetrwa\u0107 wiele pr\xF3b, jednocze\u015Bnie gromadz\u0105c \u015Brodki,
          kt\xF3re pozwol\u0105 jej wr\xF3ci\u0107 do domu.\",\"popularity\":659.548,\"poster_path\":\"/eLFOjrfPs61kaSvbBej5wZfaHtL.jpg\",\"release_date\":\"2024-05-22\",\"title\":\"Furiosa:
          Saga Mad Max\",\"video\":false,\"vote_average\":7.631,\"vote_count\":967}],\"total_pages\":1,\"total_results\":1}"
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Etag:
          - W/"af8760e02aca35b4fa2879bdc39d1992"
        x-memc:
          - MISS, STORE
        x-memc-age:
          - "0"
        x-memc-expires:
          - "22483"
        x-memc-key:
          - 59121edd00bd8609d8b7fb63b1d6e13e
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        authorization:
          - DUMMY
      method: GET
      uri: https://api.themoviedb.org/3/search/movie?query=Garfield&include_adult=True&language=pl-PL&year=2024,2023&page=1
    response:
      body:
        string:
          "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/vWzJDjLPmycnQ42IppEjMpIhrhc.jpg\",\"genre_ids\":[16,35,10751,12],\"id\":748783,\"original_language\":\"en\",\"original_title\":\"The
          Garfield Movi[...]
