interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://www.cinema-city.pl/
    response:
      body:
        string:
          "<!doctype html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" prefix=\"og:
          http://ogp.me/ns#\" lang=\"pl\" dir=\"ltr\">\n <head data-lang=\"pl\"> \n
          \ <title>Premiery filmowe - Zapowiedzi - Filmy 3D | Cinema City</title> \n
          \ <meta property=\"og:title\" content=\"Premiery filmowe - Zapowiedzi - Filmy
          3D | Cinema City\"> \n  <meta name=\"description\" content=\"Premiery filmowe
          - Zapowiedzi - Filmy 3D | Cinema City - Strona g\u0142\xF3wna\"> \n  <meta
          property=\"og:description\" content=\"Premiery filmowe - Zapowiedzi - Filmy
          3D | Cinema City - Strona g\u0142\xF3wna\"> \n  <meta charset=\"utf-8\"> \n
          \ <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"> \n  <meta name=\"viewport\"
          content=\"width=device-width, initial-scale=1.0\"> \n  <meta property=\"og:url\"
          content=\"http://www.cinema-city.pl/\"> \n  <meta name=\"apple-mobile-web-app-capable\"
          content=\"yes\"> \n  <meta name=\"mobile-web-app-capable\" content=\"yes\">
          \n  <meta property=\"og:image\" content=\"https://www.cinema-city.pl/xmedia/img/10103/cinema_card.jpg\">
          \n  <meta property=\"og:image:type\" content=\"image/jpg\"> \n  <meta property=\"og:image:width\"
          content=\"1200\"> \n  <meta property=\"og:image:height\" content=\"630\">
          \n  <meta name=\"twitter:card\" content=\"summary\"> \n  <link rel=\"manifest\"
          href=\"/manifest.json\"> \n  <link href=\"https://www.cinema-city.pl/\" rel=\"canonical\">
          \n  <link href=\"/xmedia/img/10103/fav.png?v=v2.8.34-dirty\" rel=\"icon\"
          type=\"image/png\"> \n  <link href=\"/xmedia/stylesheets/css/breakpoints.css?v=v2.8.34-dirty\"
          rel=\"stylesheet\"> \n  <link href=\"/xmedia/stylesheets/css/bootstrap/bootstrap.css?v=v2.8.34-dirty\"
          rel=\"stylesheet\"> \n  <link href=\"/xmedia/stylesheets/compiled_css/[...]
