interactions:
  - request:
      body: null
      headers:
        Authorization:
          - <HIDDEN>
      method: GET
      uri: https://api.themoviedb.org/3/search/movie?query=The+Watchers&include_adult=True&language=pl-PL&year=2024,2023&page=1
    response:
      body:
        string:
          "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/oZDRuGHhe5uY8wBqFJcJZT9kdvJ.jpg\",\"genre_ids\":[27,9648,53],\"id\":1086747,\"original_language\":\"en\",\"original_title\":\"The
          Watchers\",\"overview\":\"Kiedy 28-letnia artystka Mina znajduje schronienie
          po utkni\u0119ciu w rozleg\u0142ym, nietkni\u0119tym lesie w zachodniej Irlandii,
          nie\u015Bwiadomie zostaje uwi\u0119ziona wraz z tr\xF3jk\u0105 nieznajomych,
          kt\xF3rzy s\u0105 obserwowani i prze\u015Bladowani przez tajemnicze stworzenia
          ka\u017Cdej nocy.\",\"popularity\":301.342,\"poster_path\":\"/vZVEUPychdvZLrTNwWErr9xZFmu.jpg\",\"release_date\":\"2024-06-06\",\"title\":\"The
          Watchers\",\"video\":false,\"vote_average\":5.125,\"vote_count\":20}],\"total_pages\":1,\"total_results\":1}"
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Etag:
          - W/"d00dfbb9798167d005f35803ab8c77fa"
        x-memc:
          - MISS, STORE
        x-memc-age:
          - "0"
        x-memc-expires:
          - "26171"
        x-memc-key:
          - e1c76591f9d80ba95c6da185e4f98b10
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
        Authorization:
          - <HIDDEN>
      method: GET
      uri: https://api.themoviedb.org/3/search/movie?query=Garfield&include_adult=True&language=pl-PL&year=2024,2023&page=1
    response:
      body:
        string:
          "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/vWzJDjLPmycnQ42IppEjMpIhrhc.jpg\",\"genre_ids\":[16,35,10751,12],\"id\":748783,\"original_language\":\"en\",\"original_title\":\"The
          Garfield M[...]
  - request:
      body: null
      headers:
        Authorization:
          - <HIDDEN>
      method: GET
      uri: https://api.themoviedb.org/3/search/movie?query=Puchatek:+Krew+i+mi%C3%B3d+2&include_adult=True&language=pl-PL&year=2024,2023&page=1
    response:
      body:
        string:
          "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/p4INKu77iuTG1o1a5N3Y9vqeEGq.jpg\",\"genre_ids\":[27,53,9648,35],\"id\":1079485,\"original_language\":\"en\",\"original_title\":\"Winn[...]
